.container {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    padding: 2rem;
    min-height: 100vh;
}

.photoList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    overflow-y: auto;
    max-height: 20%;
}

.thumbnail {
    cursor: pointer;
}

.thumbnailImg {
    object-fit: cover;
    border: 2px solid white;
    border-radius: var(--bd-rds);
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: var(--bd-rds);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.detailLines {
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    display: flex;
    gap: 2rem;
}

.specs {
    font-weight: bold;
    color: #333;
}

.createdOn {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 1rem;
}

.profileContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: transform 0.2s;
}

.profileImage {
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #000000;
}

.description {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.6;
}

.desc {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}


.imagePreview {
    flex: 1;
    position: relative;
    height: calc(100vh - 200px);
    overflow: hidden;
    border-radius: var(--bd-rds);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 10px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: rgba(255, 2555, 2555, .8)  
}
.imgContainer {
    cursor: pointer;
    min-width: 100px;
    height: 100%;
    position: relative;
    transition: .1s;
    margin: 0 10px;
}

.imgContainer:hover{
    transform: scale(1.5)
} 

.img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}