@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: black;
  --bg: linear-gradient(45deg, rgb(252, 255, 250), rgb(248, 234, 237), rgb(242, 207, 219));
  --btn: darkmagenta;
  --textBackground: white;
  --bd-rds: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1536px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}