.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	flex-direction: column;
}

.section {
	
	position: relative;
	height: 100vh;
	width: 100%;
}

.part1 {
	display: flex;
	
}

.part2 {
	display: flex;
	align-items: center;
	gap: 2px;

}

.part3 {
	display: flex;
	flex-direction: row;
margin-top: 100px;
}

.part4 {
	display: flex;
	flex-direction: column;
}


.part5 {
	display: flex;
	flex-direction: column;
}
.part6{
	display: flex;
	justify-content: right;
}
.textContainer {
	flex: 1;
}

.title {
	font-size: 5rem;
}

.h5{
	font-size: 2rem;
}

.information {
	font-size: 1.5rem;
	margin-bottom: 20px;
	
}


.postGrid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	max-width: 1000px;
	width: 100%;
  }
  
  .postCard {
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
.button {
	
color: darkmagenta;
	cursor: pointer;

}


.imgContainer {
	position: relative;
	flex: 1;
	overflow: hidden;
	border-radius:var( --bd-rds);
}
.roundedImg{
	
	border-radius: var( --bd-rds);
}

.rightContainer{
	/* margin-top: 200px; */
/* padding-top:500px; */
}

.bottomTextContainer{
	display: flex;
	justify-content: center;
	margin-top:100px;

}