.container{
    min-width: 100px;
    padding: 10px;
    border-radius: var( --bd-rds);
    font-weight: 500;
    text-align: center;
  }
  
  .active{
    background-color: white;
    color: var(--bg);
  }